.header__lang-link{
  margin: 0;
  margin-right: 18px;
  font-family: Inter, 'Arial', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s opacity ease-in-out;
}

.header__lang-link:hover{
  opacity: 0.8;
}

@media screen and (max-width: 767px){
  .header__lang-link{
    font-size: 18px;
    line-height: 20px;
  }
}
