.intro__list{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}

@media screen and (max-width: 1023px){
  .intro__list{
    max-width: calc(100% - 48px);
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px){
  .intro__list{
    margin-left: 16px;
  }
}
