.footer__copyright{
  margin: 0;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

@media screen and (max-width: 767px){
  .footer__copyright{
    font-size: 14px;
    line-height: 14px;
  }
}
