.intro__text{
  max-width: 690px;
  margin: 0 0 33px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
  color: #fff;
}

@media screen and (max-width: 1023px){
  .intro__text{
    max-width: calc(100% - 48px);
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px){
  .intro__text{
    margin-left: 16px;
  }
}
