.cover{
  position: relative;
  width: 92%;
  max-width: 1184px;
  margin: 0 auto;
  margin-bottom: 92px;
  background-image: url("../../images/cover-trains.jpg");
  background-size: cover;
  background-position: center;
  text-decoration: none;
  box-sizing: border-box; /* убрало горизонтальный скрол */
}

@media screen and (max-width: 1279px){
  .cover{
    width: 100%;
  }
}

@media screen and (max-width: 1023px){
  .cover{
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px){
  .cover{
    margin-bottom: 64px;
  }
}
