.intro__title{
  max-width: 690px;
  margin: 0 0 40px;
  font-family: Inter, 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: #fff;
}

@media screen and (max-width: 1023px){
  .intro__title{
    max-width: calc(100% - 48px);
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px){
  .intro__title{
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
